<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redmadrobot.panel_core">

    <application>
        <activity
            android:name="com.redmadrobot.debug_panel_core.ui.debugpanel.DebugActivity"
            android:taskAffinity="com.redmadrobot.debug_panel.DebugActivity"
            android:theme="@style/DebugPanelTheme" />

        <activity-alias
            android:name="com.redmadrobot.debug_panel.DebugLauncherActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/debug_panel"
            android:targetActivity="com.redmadrobot.debug_panel_core.ui.debugpanel.DebugActivity"
            android:taskAffinity="com.redmadrobot.debug_panel.DebugActivity"
            android:theme="@style/DebugPanelTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
