<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redmadrobot.variable_plugin">

    <application>
        <service
            android:name=".services.VariableAutofillService"
            android:exported="true"
            android:label="DebugAutofillService"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>

        </service>
    </application>

</manifest>
